<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="common"
		  label="COM_NOKWEBDAV_CONFIGSET_COMMON_LABEL"
		  description="COM_NOKWEBDAV_CONFIGSET_COMMON_DESC">
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_nokwebdav"
			section="component"
		/>
	</fieldset>
</config>
